<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.RouteMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Route" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="route_name" property="routeName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="route_Introduce" property="routeIntroduce" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="CHAR" />
    <result column="is_theme_tour" property="isThemeTour" jdbcType="CHAR" />
    <result column="attention_count" property="attentionCount" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, route_name, price, route_Introduce, flag, is_theme_tour, attention_count, category_id, 
    seller_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tab_route
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tab_route
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pojo.Route" >
    insert into tab_route (id, route_name, price, 
      route_Introduce, flag, is_theme_tour, 
      attention_count, category_id, seller_id
      )
    values (#{id,jdbcType=BIGINT}, #{routeName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{routeIntroduce,jdbcType=VARCHAR}, #{flag,jdbcType=CHAR}, #{isThemeTour,jdbcType=CHAR}, 
      #{attentionCount,jdbcType=INTEGER}, #{categoryId,jdbcType=BIGINT}, #{sellerId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Route" >
    insert into tab_route
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="routeName != null" >
        route_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="routeIntroduce != null" >
        route_Introduce,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="isThemeTour != null" >
        is_theme_tour,
      </if>
      <if test="attentionCount != null" >
        attention_count,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="routeName != null" >
        #{routeName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="routeIntroduce != null" >
        #{routeIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=CHAR},
      </if>
      <if test="isThemeTour != null" >
        #{isThemeTour,jdbcType=CHAR},
      </if>
      <if test="attentionCount != null" >
        #{attentionCount,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Route" >
    update tab_route
    <set >
      <if test="routeName != null" >
        route_name = #{routeName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="routeIntroduce != null" >
        route_Introduce = #{routeIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=CHAR},
      </if>
      <if test="isThemeTour != null" >
        is_theme_tour = #{isThemeTour,jdbcType=CHAR},
      </if>
      <if test="attentionCount != null" >
        attention_count = #{attentionCount,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Route" >
    update tab_route
    set route_name = #{routeName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      route_Introduce = #{routeIntroduce,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=CHAR},
      is_theme_tour = #{isThemeTour,jdbcType=CHAR},
      attention_count = #{attentionCount,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=BIGINT},
      seller_id = #{sellerId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectRouteByUserId" resultType="route">
    select tr.*,tc.category_name as categoryName,ts.telephone as tel
from tab_user inner join tab_favorite tf on tab_user.id = tf.user_id
inner join tab_route tr on tf.route_id = tr.id
inner join tab_category tc on tr.category_id = tc.id
inner join tab_seller ts on tr.seller_id = ts.id
where tab_user.id = 2 ;
  </select>
</mapper>